<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Faculty Login
		</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		{% load static %}
		<!-- LINEARICONS -->
		<link rel="stylesheet" href="{% static 'eproject/loginstatic/fonts/linearicons/style.css' %}">
		
		<!-- STYLE CSS -->
		<link rel="stylesheet" href="{% static 'eproject/loginstatic/css/style.css' %}">
		<link rel="stylesheet" href="{% static 'eproject/loginstatic/js/javas.js' %}">
		<link rel="stylesheet" href="{% static 'eproject/loginstatic/js/bootstrap.js' %}">
		<link rel="stylesheet" href="{% static 'eproject/loginstatic/css/sbootstrap.css' %}">
		
		
	
	</head>

	<body>
		
			
		
		<div class="wrapper">
			
					
			<div class="inner">
				
				<img src="{% static 'eproject/loginstatic/images/image-1.png' %}" alt="" class="image-1">
				
				<form action="">
					<h3>Project Incharge Login</h3>
					<div class="form-holder">
						<span class="lnr lnr-user"></span>
						<input type="text" class="form-control" placeholder="Username">
					</div>
					
					<div class="form-holder">
						<span class="lnr lnr-lock"></span>
						<input type="password" class="form-control" placeholder="Password">
					</div>
					
					<button>
						<span>Login</span>
					</button>
					 <div class="form-group">
                               <br>
                               <a href="#" class="term-service">Forgot Password</a>
						  <a href="/eproject/facultysignup" class="term-service" style="float:right;">Signup</a>
                            </div>
				</form>
				<img src="images/image-2.png" alt="" class="image-2">
			</div>
			
		</div>
		
		<script src="{% static 'eproject/loginstatic/js/jquery-3.3.1.min.js' %}"></script>
		<script src="{% static 'eproject/loginstatic/js/main.js' %}"></script>
	</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>